.segmentos .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.segmentos .box-container .box{
    flex: 0 1 40rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:3rem 2rem;
    border-radius: 1rem;
    text-align: center;
    transition: .2s linear;
}

.segmentos #varejo.box {
    border: .2rem solid #ce2a2a;
}

.segmentos .box-container .box:hover {
    transform: scale(1.1);
    
}

.segmentos .box-container .box img{
    height: 15rem;
}

.segmentos .box-container .box h3{
    font-size: 2rem;
    color:#333;
    padding: 1rem;
}

.segmentos .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding: 1rem 2rem;
}